<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Create a post</title>
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
</head>
<body>

	<div id="main">

		<div id="headerArea">
			<div id="headerGreeting">
				<h1>The Forum</h1>
			</div>
			<div id="loginregisterArea">
				<input sec:authorize="!isAuthenticated()" type="button" class="generalButton" value="Login" onclick="location.href='/login'">
				<input sec:authorize="!isAuthenticated()" type="button" class="generalButton" value="Register" onclick="alert(321)">
				
				<input sec:authorize="isAuthenticated()" type="button" class="generalButton" value="Profile" onclick="location.href='/profile'">
				<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
					<input type="submit" class="generalButton" value="Logout">
				</form>
					
			</div>
		</div>
		<div id="navigationArea">
			<div id="navigationButtons">
				<input type="button" class="generalButton" id="mainPageButton" value="Main page" onclick="location.href='/'">
				<input type="button" class="generalButton" th:value="${categoryName}" th:onclick="'location.href = \'' + @{/category/{categoryName}(categoryName=${category})} + '\''" >
			</div>

			<form th:action="@{/search}" id="searchArea" method="post">
				<input type="text" id="searchField" name="searchField" maxlength="255" required>
				<input type="submit" class="generalButton" value="Search">
			</form>
		</div>

		<div id="content">
			<h3>Create a new post</h3>
		
			<form th:object="${post}" th:action="@{/category/{categoryName}/new(categoryName=${categoryName})}" action="#" method="post">
				<label>Title</label>
				<br><br>
				<input type="text" th:field="*{title}" class="textField" maxlength="255" required>
				<br><br>
				<label>Content</label>
				<br><br>
				<textarea th:field="*{content}" class="textField" maxlength="255" required></textarea>
				<br>
				<input type="submit" value="Save post" class="generalButton" >
			
			</form>
			

		</div>

	</div>

</body>
</html>